@charset "UTF-8";
body {
  font-family: "Proxima Nova";
  font-size: 16.5px;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.firstPage {
  overflow: hidden;
  height: 100vh;
}

.navBar {
  height: 75px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
  background-color: #ffffff;
}

.navBar img {
  float: left;
  margin-top: 15px;
  cursor: pointer;
}

.navBar h1 {
  margin-top: 30px;
  margin-left: 10px;
  display: inline-block;
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 16.5px;
  cursor: pointer;
}

.navBar ul {
  list-style: none;
  display: inline-block;
  margin-top: 30px;
}

.navBar li {
  display: inline-block;
  margin-left: 73px;
}

.navBar li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navBar li a:hover {
  color: #0cbcc5;
  transition: all 100ms ease-out;
}

.background  {
  position: absolute;
  z-index: -1;
}

.menu {
  position: relative;
  z-index: 1;
  margin-top: -756px;
  width: 500px;
  height: 753px;
  background-color: black;
  opacity: 0.7;
}

.menu h3 {
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 50px;
  margin-left: 20px;
  color: #ffffff;
  opacity: 1;
}

.menu span {
  color: #ffffff;
}

.colonneGauche {
  position: absolute;
  width: 100px;
  height: 120px;
  margin-top: 150px;
  margin-left: 20px;
}

.colonneMilieuGauche {
  position: absolute;
  width: 100px;
  height: 120px;
  margin-top: 150px;
  margin-left: 120px;
}

.colonneMilieuDroite {
  position: absolute;
  width: 100px;
  height: 120px;
  margin-top: 150px;
  margin-left: 220px;
}

.colonneDroite {
  position: absolute;
  width: 100px;
  height: 120px;
  margin-top: 150px;
  margin-left: 320px;
}

.checkbox {
  position: absolute;
  width: 261px;
  margin-top: 250px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 15px;
}

.allerRetour {
  margin-left: 32px;
}

.vaisseau {
  position: absolute;
  width: 40px;
  margin-top: 252px;
  margin-left: 300px;
  color: #ffffff;
  font-size: 15px;
}

.custom-dropdown {
  font-size: 15px;
}

.custom-dropdown__select {
  font-size: 15px;
  /* inherit size from .custom-dropdown */
  margin: 0;
  /* remove default margins */
  font-size: 9px;
  padding-right: 2.5em;
  /* accommodate with the pseudo elements for the dropdown arrow */
  border: 1;
}

.custom-dropdown__select--white {
  background-color: #000000;
  color: #444;
}

.timeLonger {
  position: absolute;
  width: 450px;
  height: 50px;
  margin-top: 350px;
}

.time {
  width: 220px;
  height: 50px;
  margin-left: 20px;
  background-color: #4a3d6b;
}

.time span {
  position: absolute;
  margin-left: 65px;
  margin-top: 12px;
  font-size: 25px;
}

.long {
  width: 220px;
  height: 50px;
  margin-left: 260px;
  margin-top: -50px;
  background-color: #4a3d6b;
}

.long span {
  position: absolute;
  margin-left: 43px;
  margin-top: 12px;
  font-size: 25px;
}

.option {
  color: #ffffff;
}

.option h3 {
  margin-top: 450px;
}

.option input {
  margin-top: 500px;
  margin-left: 20px;
}

.option span {
  margin-left: 20px;
  font-size: 10px;
}

.buyTotal {
  margin-top: 102px;
  width: 500px;
  height: 120px;
  background-color: #28d1bc;
}

.buyTotal span {
  position: absolute;
  margin-top: -85px;
  margin-left: 437px;
  font-size: 60px;
}

.buyTotal a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.price {
  width: 180px;
}

.price span {
  position: absolute;
  margin-top: 48px;
  margin-left: 50px;
  font-size: 30px;
}

.buy {
  width: 180px;
  height: 120px;
  background-color: #32343d;
  margin-left: 220px;
}

.buy span {
  font-size: 30px;
  position: absolute;
  margin-top: 48px;
  margin-left: 25px;
}
